{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/iis_style.css')}}">
    {%- endblock styles %}
    {%- endblock head %}
  </head>


  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block navbar %}
    <nav>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="collapsed" 
                  data-toggle="collapse" data-target="#iis-main-navbar" 
                  aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">IIS</a>
        </div>
        <div class="navbar-main collapse" id="iis-main-navbar">
          <ul>
            <li><a href="/jobs/">Jobs</a></li>
          </ul>
          <ul class="navbar-aside">
            {% if current_user.is_authenticated %}
            <li>
              <a href="{{ url_for('user.profile')}}">Hello, {{ current_user.username }}</a>
            </li>
            <li>
              <a href="{{ url_for('user.logout')}}">Sign out</a>
            </li>
            {% else %}
            <li>
              <a href="{{ url_for('user.login')}}">Sign in</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div> 
    </nav>
    {% endblock %}

    <main>
    {% block content %}
    {% endblock content %}
    </main>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    {% endblock scripts %}
    {% endblock body %}
  </body>
{% endblock html %}
</html>
{% endblock doc %}
