@import "bootstrap-sprockets";
@import "bootstrap";


main, nav > .container-fluid {
  max-width: 1200px;
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

nav {
  @extend .navbar;
  @extend .navbar-default;
  .navbar-header > button {
    @extend .navbar-toggle;
  }
  
  .navbar-main {
    @extend .navbar-collapse;
    ul {
      @extend .nav;
      @extend .navbar-nav; 
    }
    ul.navbar-aside {
      @extend .navbar-right; 
    }
  }
}

form > button{
  @extend .btn;
  @extend .btn-primary;
} 

section {
  margin-top: 1em;
}

.iis-search-result {
  .author:before {
    content: "-- ";
    font-weight: bold;
  }
  .author {
    font-weight: bold;
  }
  .description {
    display: block; 
    margin-bottom: 5px;
  }
}

a > .panel-heading {

  background-color: #f8f8f8;
  color: #000000;

  &:hover {
    background-color: #eeeeee;
  } 
}
