{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8" id="diagram"></div>
  <div class="col-md-4" id="control-bar">
    <div class="panel panel-default">
      <div class="panel-heading">
        Controls
      </div>
      <div class="panel-body">
        <button id="iis_add_process" class="btn btn-default">
          Add Process
        </button>
        <button id="iis_add_pipe" class="btn btn-default">
          Add Pipe
        </button> 
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="iis_details_modal" tabindex="-1"
     role="dialog" aria-labelledby="iis_details_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button id="set_button" class="btn btn-primary" type="button">
          Set
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block scripts %}
{{ super() }}

{% assets "graph_js" %}
<script src="{{ ASSET_URL }}">
</script>
{% endassets %}
{% endblock scripts %}
