{% extends "base.html" %}

{% block title %}Search existing pipeline definitions{% endblock title %} 

{% block content %}

<div class="row">
  <main class="iis-search-result col-md-8">
    {% if defs.count() > 0 %}
    {% for def in defs %}
    <div class="panel panel-default">
      <a href="{{ url_for('jobs.detail', job_id=def.id) }}">
        <div class="panel-heading">
          <span class="name">{{ def.name }}</span>
        </div>
      </a>
      <div class="panel-body">
        <span class="description">{{ def.description }}</span>
        <span class="author">{{ def.user.username }}</span>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="iis-empty-result">
    No pipeline definitions matching your search term were found.
    </p>
    {% endif %}
  </main>
  <aside class="col-md-4 panel panel-default">
    <form class="panel-body" method="GET" action="#">
      {{ macros.with_errors(form.search_term, classes="form-control") }}
      {{ macros.with_errors(form.search_description) }}
      <button type="submit">Search</button>
    </form>
  </aside>
</div>
{% endblock content %}
