{% extends "base.html" %}

{% block title %}Upload a pipeline definition{% endblock title %}

{% block content %}
<form method="POST" action="#" enctype="multipart/form-data">
  <div class="form-group {% if form.name.errors %}has-error{% endif %}">
    {{ form.name.label(class_="control-label") }}
    {{ form.name(class_="form-control") }}
    {% for error in form.name.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
  <div class="form-group {% if form.description.errors %}has-error{% endif %}">
    {{ form.description.label(class_="control-label") }}
    {{ form.description(class_="form-control") }}
    {% for error in form.description.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
  <div class="form-group {% if form.public.errors %}has-error{% endif %}">
    {{ form.public.label(class_="control-label") }}
    {{ form.public }}
    {% for error in form.public.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
  <div class="form-group {% if form.definition.errors %}has-error{% endif %}">
    {{ form.definition.label(class_="control-label") }}
    {{ form.definition(class_="form-control") }}
    {% for error in form.definition.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
  {{ form.csrf_token }}

  <button type="submit">Submit</button>
</form>
{% endblock content %}
